html {
    background-color: black;
}
main {
    background-color:black;
    color:ghostwhite;
}
p {
    background-color:black;
    color:ghostwhite;
}
i {
    color:ghostwhite;
} 
footer.fa{
    background-color:midnightblue;
    color:ghostwhite;
}